.image__avatar {
    border-radius: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    flex: 1 1;
}

.right {
    flex: 0 1 25%;
}

.article__image {
    width: 100px;
    height: 100px;
}

.row__item {
    background-color: crimson;
    margin: 10px 20px 5px 1px;
}

.grey {
    background-color: grey;
}

.blue {
    background-color: blue;
}

.cornflower {
    background-color: cornflowerblue;
}